about-time==4.2.1
absl-py==2.5.0
accelerate==1.13.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
alabaster==1.0.0
alive-progress==3.3.0
altair==6.2.2
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
apptools==5.3.1
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
argostranslate==1.11.0
asttokens==3.0.1
async-timeout==5.0.1
attrs==25.4.0
audioread==3.1.0
autograd==1.9.1
azure-core==1.39.0
azure-storage-blob==12.28.0
babel==2.18.0
backports-datetime-fromisoformat==2.0.3
backports.zstd==1.7.0
bayesian-optimization==3.2.2
bcrypt==5.0.0
beautifulsoup4==4.14.3
bidict==0.21.4
blinker==1.9.0
blis==1.3.3
botorch==0.16.1
braceexpand==0.1.7
bronkhorst-propar==1.1.1
brotli==1.2.0
cachetools==7.1.8
catalogue==2.0.10
certifi==2026.2.25
cffi==2.1.1
charset-normalizer==3.4.4
click==8.3.1
clickhouse-connect==0.10.0
clickhouse-driver==0.2.10
cloudpathlib==0.23.0
cma==4.5.0
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.3
comtypes==1.4.16
confection==1.3.3
configobj==5.0.9
contourpy==1.3.2
cryptography==46.0.7
ctranslate2==4.7.1
cvxopt==1.3.3
cycler==0.12.1
cymem==2.0.13
datasets==5.0.1
debugpy==1.8.21
decorator==5.2.1
deep-translator==1.11.4
deepchem==2.8.0
Deprecated==1.3.1
dill==0.4.1
distro==1.9.0
dnspython==2.8.0
docutils==0.21.2
dragonfly-opt==0.1.7
dragonfly2==0.35.0
emoji==2.15.0
environs==9.5.0
envisage==7.0.4
et_xmlfile==2.0.0
etils==1.13.0
eventlet==0.41.0
exceptiongroup==1.3.1
executing==2.2.1
fastapi==0.141.1
fastdtw==0.3.4
filelock==3.25.0
Flask==3.1.2
flask-cors==6.0.5
Flask-SocketIO==5.6.1
flatbuffers==25.12.19
flexcache==0.3
flexparser==0.4
fonttools==4.61.1
frozenlist==1.8.0
fsspec==2026.2.0
future==1.0.0
gdown==6.2.0
gevent==26.9.0
gevent-websocket==0.10.1
git-filter-repo==2.47.0
gpytorch==1.15.2
graphemeu==0.7.2
greenlet==3.5.3
grpcio==1.60.0
h11==0.16.0
h2==4.4.1
h5py==3.16.0
hf-xet==1.3.2
hpack==4.2.0
httpcore==1.0.9
httpcore2==2.12.0
httptools==0.8.0
httpx==0.28.1
httpx2==2.12.0
huggingface_hub==1.5.0
humanfriendly==10.0
humanize==4.16.0
hyperframe==6.1.0
idna==3.19
imagesize==2.0.1
importlib_resources==6.5.2
iniconfig==2.3.0
invoke==3.0.3
ipykernel==7.2.0
ipython==8.38.0
isodate==0.7.2
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
jiter==0.16.0
joblib==1.5.3
json-rpc==1.15.0
jsonpatch==1.33
jsonpath-rw==1.4.0
jsonpointer==3.1.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter_client==8.8.0
jupyter_core==5.9.1
kafka-python==3.0.8
kagglehub==0.4.3
kagglesdk==0.1.28
kiwisolver==1.4.9
langchain-core==1.6.2
langchain-openai==1.6.2
langchain-protocol==0.0.19
langgraph==1.2.11
langgraph-checkpoint==4.2.0
langgraph-prebuilt==1.1.0
langgraph-sdk==0.4.4
langsmith==0.12.4
lark-parser==0.8.9
lazy_loader==0.4
librosa==0.11.0
linear_operator==0.6.1
llvmlite==0.46.0
loguru==0.7.3
lxml==6.0.4
lz4==4.4.5
markdown-it-py==4.0.0
MarkupSafe==3.0.3
marshmallow==3.20.1
matplotlib==3.10.8
matplotlib-inline==0.2.1
mayavi==4.8.1
mdurl==0.1.2
minio==7.2.20
minisbd==0.9.5
mlcroissant==1.1.0
moocore==0.3.2
mpmath==1.3.0
msgpack==1.1.2
multidict==6.7.1
multipledispatch==1.0.0
multiprocess==0.70.19
murmurhash==1.0.15
mypy_extensions==1.1.0
narwhals==2.26.0
nest-asyncio==1.6.0
networkx==3.4.2
nmrglue==0.12
numba==0.64.0
numpy==1.26.4
numpy-quaternion==2024.0.13
numpydoc==1.10.0
onnxruntime==1.23.2
openai==3.11.0
opencv-python==4.13.0.92
openpyxl==3.1.5
opt_einsum==3.4.0
orjson==3.12.0
ormsgpack==1.12.2
osqp==1.1.3
outcome==1.3.0.post0
packaging==26.0
paho-mqtt==2.1.0
pandas==2.3.3
pandas-stubs==2.3.3.260113
paramiko==5.0.0
parso==0.8.6
patsy==1.0.2
pause==0.3
Pillow==10.0.1
Pint==0.24.4
platformdirs==4.9.2
pluggy==1.6.0
ply==3.11
pooch==1.9.0
preshed==3.0.13
prompt_toolkit==3.0.52
propcache==0.4.1
protobuf==7.34.1
psutil==7.2.2
PubChemPy==1.0.5
pure_eval==0.2.3
puremagic==1.30
pyarrow==23.0.1
pybaselines==1.2.1
pycparser==3.0
pycryptodome==3.23.0
pydantic==2.12.5
pydantic_core==2.41.5
pydeck==0.9.3
pyface==8.0.0
Pygments==2.19.2
pymilvus==2.4.0
pymodbus==3.5.4
pymongo==4.17.0
pymoo==0.6.2
PyMuPDF==1.27.2.2
PyMySQL==1.1.2
PyNaCl==1.6.2
pyparsing==3.3.2
pyperclip==1.11.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.18.0
pyre-extensions==0.0.32
pyreadline3==3.5.4
pyro-api==0.1.2
pyro-ppl==1.9.1
pyserial==3.5
PySimpleGUI==5.0.8.3
PySocks==1.7.1
pysptools==0.15.0
pytest==9.0.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-engineio==4.13.3
python-multipart==0.0.32
python-pptx==1.0.2
python-socketio==5.16.3
pytz==2025.2
PyWavelets==1.8.0
pywin32==312
PyYAML==6.0.3
pyzmq==27.1.0
raman-data==1.6.2
ramanspy==0.2.10
rdflib==7.6.0
rdkit==2025.9.5
redis==8.1.0
referencing==0.37.0
regex==2026.2.28
renishawWiRE==0.1.16
reportlab==4.4.10
requests==2.32.5
requests-toolbelt==1.0.0
rich==14.3.3
rpds-py==0.30.0
sacremoses==0.1.1
safetensors==0.7.0
scikit-learn==1.7.2
scipy==1.12.0
selenium==4.41.0
sentencepiece==0.2.1
shellingham==1.5.4
simple-websocket==1.1.0
six==1.17.0
slack_sdk==3.27.2
smart_open==7.5.1
sniffio==1.3.1
snowballstemmer==3.1.1
socksio==1.0.0
sortedcontainers==2.4.0
soundfile==0.13.1
soupsieve==2.8.3
soxr==1.0.0
spacy==3.8.14
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spectrochempy==0.8.4
Sphinx==8.1.3
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
srsly==2.5.3
stack-data==0.6.3
stanza==1.10.1
starlette==1.6.0
statsmodels==0.14.6
streamlit==1.64.0
sympy==1.14.0
tenacity==9.1.4
thinc==8.3.13
threadpoolctl==3.6.0
tiktoken==0.14.0
tokenizers==0.22.2
toml==0.10.2
tomli==2.4.1
torch==2.10.0
torch-geometric==2.7.0
torchaudio==2.10.0
torchvision==0.25.0
tornado==6.5.5
tqdm==4.67.3
traitlets==5.14.3
traits==7.1.0
traitsui==8.0.0
transformers==5.3.0
trio==0.33.0
trio-websocket==0.12.2
truststore==0.10.4
typer==0.24.1
types-pytz==2026.3.1.20260727
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
tzlocal==5.3.1
ujson==5.12.0
urllib3==2.6.3
uuid_utils==0.17.1
uvicorn==0.53.0
vboxapi==1.0
vtk==9.2.6
wasabi==1.1.3
watchdog==6.0.0
wcwidth==0.6.0
weasel==1.0.0
webdataset==1.0.2
webdriver-manager==4.0.2
websocket-client==1.9.0
websockets==16.1.1
Werkzeug==3.1.4
wget==3.2
win32_setctime==1.2.0
wrapt==2.1.2
wsproto==1.3.2
xgboost==3.2.0
xlrd==2.0.2
xlsxwriter==3.2.9
xxhash==3.6.0
yarl==1.23.0
zenodo-get==3.1.0
ziglang==0.16.0
zipp==4.1.0
zope.event==6.2
zope.interface==8.6
zstandard==0.25.0